body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.activity-chain {
  height: 200px;
  background: rgb(255, 90, 95);
  display: flex;
}



.icon {
  max-height: 15px;
}

.activities-display {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  display: flex;
}

.search-activities {
  padding: 20px;
  margin-bottom: 20px;
  max-width: 400px;
  flex: 1;
}

.loader { 
  text-align: center;
}

.gif {
  border-radius: 50%;
  max-width: 100px;
}