.activity-chain {
    height: 250px;
    background: rgb(255, 90, 95);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: auto;
}

.activity-chain ul {
    display: flex;
    list-style: none;
}
  
.activity-chain li {
    padding: 2em 1em;
}